<ion-content [fullscreen]="true">
  <div class="page-wrapper">

    <app-spinner *ngIf="getAvailablePlantsLoading"></app-spinner>
    <div *ngIf="selectedPlant" class="form-wrapper">
      <div class="header">{{ 'home.humidityLevelMonitoring' | translate }}</div>

      <div class="info-label">
        {{ 'home.selectPlant' | translate }}
      </div>
      <ion-select #selectedItemId (ionChange)="plantSelectionChanged(selectedItemId.value, hourRange.value)" [value]="selectedPlant.id"
      class="std-dropdown" cancelText="{{ 'common.cancel' | translate }}" okText="{{ 'common.confirm' | translate }}">
        <ion-select-option *ngFor="let plant of availablePlants" [value]="plant.id">
          {{ plant.name }}
        </ion-select-option>
      </ion-select>

      <div class="info-label range-label">
        {{ 'home.samples' | translate }}
      </div>
      <ion-range #hourRange (ionChange)="plantSelectionChanged(selectedItemId.value, hourRange.value)" [min]="minHumidityRange" [max]="maxHumidityRange">
        <ion-label slot="start">{{ minHumidityRange }}</ion-label>
        <ion-label slot="end">{{ maxHumidityRange }}</ion-label>
      </ion-range>
    </div>

    <app-spinner *ngIf="!getAvailablePlantsLoading && getPlantHumidityLoading" class="chart-spinner"></app-spinner>
    <div *ngIf="!getPlantHumidityLoading && plantHumidityData && plantHumidityData.length > 0" class="chart-wrapper">
      <div class="info-label chart-title">
        {{ ('home.humidityLevel' | translate) }}
      </div>
      <canvas
        baseChart
        class="chart"
        chartType="line"
        [datasets]="plantHumidityData"
        [labels]="plantHumidityLabels">
      </canvas>
      <div class="info-label">
        {{ ('home.displayTimeInfo' | translate) + ': ' + dateRange }}
      </div>
    </div>

  </div>
</ion-content>
