@import "../../../theme/colors.scss";


.page-wrapper {
  height: 100%;

  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  overflow-y: hidden;
}

.form-wrapper {
  margin-top: -50px;

  display: block;
}

.info-label {
  margin-left: auto;
  margin-right: auto;
}

.range-label {
  margin-top: 25px;
  margin-bottom: 7px;
}

.chart-spinner {
  width: 225px;
  height: 105px;
  margin: 195px auto 0px auto;

  display: block;
}

.spinner-group {
  width: 95%;
  margin: 0px auto;

  text-align: center;
}

.chart-wrapper {
  width: 95%;
  max-width: 600px;
  margin: 50px auto 0px auto;

  text-align: center;
}

.chart-title {
  margin-bottom: 10px;

  font-size: 16px;
}
