@import '../../../theme/colors.scss';


.buttons-wrapper {
  width: 100%;

  display: flex;
  justify-content: space-around;
}

.nav-button {
  margin-bottom: 10px;

  background-color: transparent;

  ion-icon {
    font-size: 33px;
  }
}

.nav-button-active {
  ion-icon {
    font-size: 36px;
    color: $app-red-1;
  }
}
