/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import "theme/colors.scss";
@import "theme/inputs.scss";


*:focus {
  outline: none !important;
}

.header {
  margin: 0px auto 45px auto;
  padding: 0px;

  font-size: 19px;
  font-weight: 600;
  text-align: center;
}

.info-label {
  margin: 0px auto -17px 3px;
  padding: 0px;

  font-size: 13px;
  font-weight: 600;
}
